.pagee__divs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.brands {
  width: 100%;
  height: 5rem;
  position: relative;
  border: 1px solid red;
}
.btn {
  display: flex;
  margin: 1rem 0rem;
  gap: 1rem;
}
.button:first-child {
  color: var(--color-white);
  background-color: var(--color-nav);
}
.button {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  outline: none;
}
.brands .brands__Img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.page__img {
  width: 100%;
  position: relative;
  border: 1px solid red;
  height: 100%;
}
.page__img .heroImg {
  width: 100%;
  height: 100%;
  object-fit: contain;

}